.counter-container{
   margin: 3em auto;
}
.btn{
    padding: 1em;
    background-color: rgb(96, 233, 91);
    border-radius: 10px;
    margin: 1em;
    border: 1px solid rgb(96, 233, 91);
    box-shadow: 2px 2px 2px rgb(96, 233, 91, 0.5);
    cursor: pointer;
    width: 50px;
}
.btn:hover{
    transform: scale(1.05);
}