.container{
    background-color: rgb(127, 204, 255);
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    height: 100%;
}
.content-wrapper{
    width: 80%;
    height: 70%;
    margin: 0 auto;
    padding: 1em;
}
.scrollable-content{
    overflow-y: auto;
    height: 92%;
    line-height: 3em;
    letter-spacing: px;
}